/*
 * SPDX-FileCopyrightText: 2021 GNOME Foundation
 *
 * SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-or-later
 */

/**
 * RedHat Fonts taken from https://github.com/RedHatOfficial/RedHatFont
 * License: SIL Open Font License 1.1 http://scripts.sil.org/OFL
 *
 * SourceCodePro Fonts
 * License: SIL Open Font License 1.1 https://scripts.sil.org/OFL
 */

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-Regular.woff2") format("woff2"),
       url("fonts/RedHatDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-RegularItalic.woff2") format("woff2"),
       url("fonts/RedHatDisplay-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-Medium.woff2") format("woff2"),
       url("fonts/RedHatDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-MediumItalic.woff2") format("woff2"),
       url("fonts/RedHatDisplay-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-Bold.woff2") format("woff2"),
       url("fonts/RedHatDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-BoldItalic.woff2") format("woff2"),
       url("fonts/RedHatDisplay-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
}


@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-Black.woff2") format("woff2"),
       url("fonts/RedHatDisplay-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Display";
  src: local('RedHatDisplayWeb'),
       url("fonts/RedHatDisplay-BlackItalic.woff2") format("woff2"),
       url("fonts/RedHatDisplay-BlackItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-Regular.woff2") format("woff2"),
       url("fonts/RedHatText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-Italic.woff2") format("woff2"),
       url("fonts/RedHatText-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-Medium.woff2") format("woff2"),
       url("fonts/RedHatText-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-MediumItalic.woff2") format("woff2"),
       url("fonts/RedHatText-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-Bold.woff2") format("woff2"),
       url("fonts/RedHatText-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Red Hat Text";
  src: local('RedHatTextWeb'),
       url("fonts/RedHatText-BoldItalic.woff2") format("woff2"),
       url("fonts/RedHatText-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
}

/* Do not fall back to locally installed SourceCodePro, as there are
 * known bad copies being distributed to this day
 */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SourceCodePro-Regular.ttf.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/SourceCodePro-It.ttf.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/SourceCodePro-Semibold.ttf.woff") format('woff');
  font-display: swap;
}
